body {
  background-color: rgb(77, 90, 86);
}

h1 {
  font-size: 60px;
  color: whitesmoke;
  font-family: "Rubik Vinyl", cursive;
  text-align: center;
}

article img {
  height: 400px;
  width: 400px;
  border-radius: 30%;
  border: solid 2px whitesmoke;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}
